Repository BusinessKitz/documenso, pull requests merged in 2024-09, with the labels that each got.

#49 fix: investigating the issue on .com
  apps/web/src/app/(dashboard)/documents/upload-document.tsx
Labels: apps: web

#52 fix: investigating to fix .com issue
  apps/marketing/next.config.js
  packages/lib/next-auth/auth-options.ts
Labels: apps: marketing

#54 fix: trying to fix .com version
  apps/web/src/middleware.ts
Labels: apps: web

#55 Com domain
  apps/marketing/next.config.js
  apps/web/src/middleware.ts
  packages/lib/next-auth/auth-options.ts
Labels: apps: marketing, apps: web

#56 feat: release to .com version.
  apps/marketing/next.config.js
  apps/web/src/middleware.ts
  packages/lib/next-auth/auth-options.ts
Labels: apps: marketing, apps: web

#61 fix: fixing signing process issue bkm 274
  apps/web/src/app/(signing)/sign/[token]/complete/page.tsx
Labels: apps: web

#62 fix: commenting out 'Claim account' block
  apps/web/src/app/(signing)/sign/[token]/complete/page.tsx
Labels: apps: web

#63 fix: hiding the claiming account
  apps/marketing/next.config.js
  apps/web/next.config.js
  apps/web/src/app/(signing)/sign/[token]/complete/page.tsx
Labels: apps: marketing, apps: web

#64 fix: hiding the claim account part
  apps/marketing/next.config.js
  apps/web/next.config.js
  apps/web/src/app/(signing)/sign/[token]/complete/page.tsx
Labels: apps: marketing, apps: web
