Repository BusinessKitz/documenso, pull requests merged in 2024-07, with the labels that each got.

#10 feat: disabling dark theme option
  apps/web/src/app/(signing)/sign/[token]/complete/page.tsx
  apps/web/src/app/globals.css
  apps/web/src/app/layout.tsx
  packages/email/static/clock.png
  packages/email/template-components/template-document-pending.tsx
Labels: apps: web

#11 feat: disable dark theme
  apps/web/src/app/(signing)/sign/[token]/complete/page.tsx
  apps/web/src/app/globals.css
  apps/web/src/app/layout.tsx
  packages/email/static/clock.png
  packages/email/template-components/template-document-pending.tsx
Labels: apps: web

#14 feat: signup login functionality bkm 170
  apps/web/src/app/(dashboard)/documents/data-table-action-dropdown.tsx
  apps/web/src/app/(dashboard)/documents/upload-document.tsx
  apps/web/src/app/(signing)/sign/[token]/complete/claim-account.tsx
  apps/web/src/app/(signing)/sign/[token]/form.tsx
  apps/web/src/app/(unauthenticated)/signin/page.tsx
  apps/web/src/components/branding/logo.tsx
  apps/web/src/components/forms/signin.tsx
  apps/web/src/components/forms/signup.tsx
  apps/web/src/components/forms/v2/signup.tsx
  docker/development/compose.yml
  packages/lib/server-only/user/create-user.ts
  packages/trpc/server/auth-router/router.ts
  packages/trpc/server/auth-router/schema.ts
  packages/ui/primitives/document-flow/add-signature.tsx
Labels: apps: web

#15 signup and login
  apps/web/src/app/(dashboard)/documents/data-table-action-dropdown.tsx
  apps/web/src/app/(dashboard)/documents/upload-document.tsx
  apps/web/src/app/(signing)/sign/[token]/complete/claim-account.tsx
  apps/web/src/app/(signing)/sign/[token]/form.tsx
  apps/web/src/app/(unauthenticated)/signin/page.tsx
  apps/web/src/components/branding/logo.tsx
  apps/web/src/components/forms/signin.tsx
  apps/web/src/components/forms/signup.tsx
  apps/web/src/components/forms/v2/signup.tsx
  docker/development/compose.yml
  packages/lib/server-only/user/create-user.ts
  packages/trpc/server/auth-router/router.ts
  packages/trpc/server/auth-router/schema.ts
  packages/ui/primitives/document-flow/add-signature.tsx
Labels: apps: web

#16 new package
  apps/web/src/components/branding/logo.tsx
  package-lock.json
  package.json
  packages/signing/helpers/add-signing-placeholder.ts
  turbo.json
Labels: version bump 👀, apps: web

#19 feat: adjusting strings bkm 215
  apps/marketing/src/app/not-found.tsx
  apps/marketing/src/components/(marketing)/single-player-mode/single-player-mode-success.tsx
  apps/web/src/app/(dashboard)/documents/[id]/document-page-view-dropdown.tsx
  apps/web/src/app/(dashboard)/documents/[id]/edit-document.tsx
  apps/web/src/app/(dashboard)/documents/[id]/loading.tsx
  apps/web/src/app/(dashboard)/documents/[id]/logs/download-audit-log-button.tsx
  apps/web/src/app/(dashboard)/documents/[id]/logs/download-certificate-button.tsx
  apps/web/src/app/(dashboard)/documents/[id]/sent/page.tsx
  apps/web/src/app/(dashboard)/documents/data-table-action-dropdown.tsx
  apps/web/src/app/(dashboard)/documents/duplicate-document-dialog.tsx
  apps/web/src/app/(dashboard)/documents/page.tsx
  apps/web/src/app/(share)/share/[slug]/opengraph/route.tsx
  apps/web/src/app/(signing)/sign/[token]/complete/document-preview-button.tsx
  apps/web/src/app/(signing)/sign/[token]/complete/page.tsx
  apps/web/src/app/(signing)/sign/[token]/form.tsx
  apps/web/src/app/(signing)/sign/[token]/no-longer-available.tsx
  apps/web/src/app/(signing)/sign/[token]/page.tsx
  apps/web/src/app/(signing)/sign/[token]/sign-dialog.tsx
  apps/web/src/app/(signing)/sign/[token]/text-field.tsx
  apps/web/src/app/(teams)/t/[teamUrl]/error.tsx
  apps/web/src/app/globals.css
  apps/web/src/components/(dashboard)/period-selector/period-selector.tsx
  apps/web/src/components/branding/logo.tsx
  apps/web/src/components/partials/not-found.tsx
  packages/app-tests/e2e/document-auth/access-auth.spec.ts
  packages/app-tests/e2e/document-auth/action-auth.spec.ts
  packages/app-tests/e2e/document-flow/settings-step.spec.ts
  packages/app-tests/e2e/document-flow/signers-step.spec.ts
  packages/app-tests/e2e/document-flow/stepper-component.spec.ts
  packages/app-tests/e2e/templates-flow/template-settings-step.spec.ts
  packages/app-tests/e2e/templates-flow/template-signers-step.spec.ts
  packages/app-tests/e2e/templates/create-document-from-template.spec.ts
  packages/app-tests/e2e/user/auth-flow.spec.ts
  packages/email/template-components/template-document-invite.tsx
  packages/lib/client-only/hooks/use-field-page-coords.ts
  packages/ui/components/document/document-share-button.tsx
  packages/ui/primitives/document-flow/add-fields.tsx
  packages/ui/primitives/document-flow/add-settings.tsx
  packages/ui/primitives/document-flow/add-signature.tsx
  packages/ui/primitives/document-flow/add-signers.tsx
  packages/ui/primitives/document-flow/document-flow-root.tsx
  packages/ui/primitives/template-flow/add-template-fields.tsx
  packages/ui/primitives/template-flow/add-template-settings.tsx
Labels: apps: marketing, apps: web, 🚨 e2e changes 🚨

#20 feat: strings
  apps/marketing/src/app/not-found.tsx
  apps/marketing/src/components/(marketing)/single-player-mode/single-player-mode-success.tsx
  apps/web/src/app/(dashboard)/documents/[id]/document-page-view-dropdown.tsx
  apps/web/src/app/(dashboard)/documents/[id]/edit-document.tsx
  apps/web/src/app/(dashboard)/documents/[id]/loading.tsx
  apps/web/src/app/(dashboard)/documents/[id]/logs/download-audit-log-button.tsx
  apps/web/src/app/(dashboard)/documents/[id]/logs/download-certificate-button.tsx
  apps/web/src/app/(dashboard)/documents/[id]/sent/page.tsx
  apps/web/src/app/(dashboard)/documents/data-table-action-dropdown.tsx
  apps/web/src/app/(dashboard)/documents/duplicate-document-dialog.tsx
  apps/web/src/app/(dashboard)/documents/page.tsx
  apps/web/src/app/(share)/share/[slug]/opengraph/route.tsx
  apps/web/src/app/(signing)/sign/[token]/complete/document-preview-button.tsx
  apps/web/src/app/(signing)/sign/[token]/complete/page.tsx
  apps/web/src/app/(signing)/sign/[token]/form.tsx
  apps/web/src/app/(signing)/sign/[token]/no-longer-available.tsx
  apps/web/src/app/(signing)/sign/[token]/page.tsx
  apps/web/src/app/(signing)/sign/[token]/sign-dialog.tsx
  apps/web/src/app/(signing)/sign/[token]/text-field.tsx
  apps/web/src/app/(teams)/t/[teamUrl]/error.tsx
  apps/web/src/app/globals.css
  apps/web/src/components/(dashboard)/period-selector/period-selector.tsx
  apps/web/src/components/branding/logo.tsx
  apps/web/src/components/partials/not-found.tsx
  packages/app-tests/e2e/document-auth/access-auth.spec.ts
  packages/app-tests/e2e/document-auth/action-auth.spec.ts
  packages/app-tests/e2e/document-flow/settings-step.spec.ts
  packages/app-tests/e2e/document-flow/signers-step.spec.ts
  packages/app-tests/e2e/document-flow/stepper-component.spec.ts
  packages/app-tests/e2e/templates-flow/template-settings-step.spec.ts
  packages/app-tests/e2e/templates-flow/template-signers-step.spec.ts
  packages/app-tests/e2e/templates/create-document-from-template.spec.ts
  packages/app-tests/e2e/user/auth-flow.spec.ts
  packages/email/template-components/template-document-invite.tsx
  packages/lib/client-only/hooks/use-field-page-coords.ts
  packages/ui/components/document/document-share-button.tsx
  packages/ui/primitives/document-flow/add-fields.tsx
  packages/ui/primitives/document-flow/add-settings.tsx
  packages/ui/primitives/document-flow/add-signature.tsx
  packages/ui/primitives/document-flow/add-signers.tsx
  packages/ui/primitives/document-flow/document-flow-root.tsx
  packages/ui/primitives/template-flow/add-template-fields.tsx
  packages/ui/primitives/template-flow/add-template-settings.tsx
Labels: apps: marketing, apps: web, 🚨 e2e changes 🚨

#22 fix: string updates, locale hydrating issue
  apps/web/src/app/(signing)/sign/[token]/complete/page.tsx
  apps/web/src/app/(signing)/sign/[token]/form.tsx
  apps/web/src/app/globals.css
  apps/web/src/components/formatter/locale-date.tsx
  packages/app-tests/e2e/templates/create-document-from-template.spec.ts
  packages/lib/client-only/hooks/use-field-page-coords.ts
  packages/lib/server-only/document/send-completed-email.ts
Labels: apps: web, 🚨 e2e changes 🚨

#24 fix: documenso styling updates
  apps/web/src/app/(dashboard)/documents/upload-document.tsx
  apps/web/src/app/globals.css
  apps/web/src/components/(dashboard)/avatar/stack-avatars-with-tooltip.tsx
Labels: apps: web

#25 fix: Documenso elements styling
  apps/web/src/app/(dashboard)/documents/upload-document.tsx
  apps/web/src/app/globals.css
  apps/web/src/components/(dashboard)/avatar/stack-avatars-with-tooltip.tsx
Labels: apps: web

#26 feat: uat updates
  apps/marketing/src/app/not-found.tsx
  apps/marketing/src/components/(marketing)/single-player-mode/single-player-mode-success.tsx
  apps/web/src/app/(dashboard)/documents/[id]/document-page-view-dropdown.tsx
  apps/web/src/app/(dashboard)/documents/[id]/edit-document.tsx
  apps/web/src/app/(dashboard)/documents/[id]/loading.tsx
  apps/web/src/app/(dashboard)/documents/[id]/logs/download-audit-log-button.tsx
  apps/web/src/app/(dashboard)/documents/[id]/logs/download-certificate-button.tsx
  apps/web/src/app/(dashboard)/documents/[id]/sent/page.tsx
  apps/web/src/app/(dashboard)/documents/data-table-action-dropdown.tsx
  apps/web/src/app/(dashboard)/documents/duplicate-document-dialog.tsx
  apps/web/src/app/(dashboard)/documents/page.tsx
  apps/web/src/app/(dashboard)/documents/upload-document.tsx
  apps/web/src/app/(share)/share/[slug]/opengraph/route.tsx
  apps/web/src/app/(signing)/sign/[token]/complete/document-preview-button.tsx
  apps/web/src/app/(signing)/sign/[token]/complete/page.tsx
  apps/web/src/app/(signing)/sign/[token]/form.tsx
  apps/web/src/app/(signing)/sign/[token]/no-longer-available.tsx
  apps/web/src/app/(signing)/sign/[token]/page.tsx
  apps/web/src/app/(signing)/sign/[token]/sign-dialog.tsx
  apps/web/src/app/(signing)/sign/[token]/text-field.tsx
  apps/web/src/app/(teams)/t/[teamUrl]/error.tsx
  apps/web/src/app/globals.css
  apps/web/src/components/(dashboard)/avatar/stack-avatars-with-tooltip.tsx
  apps/web/src/components/(dashboard)/period-selector/period-selector.tsx
  apps/web/src/components/branding/logo.tsx
  apps/web/src/components/formatter/locale-date.tsx
  apps/web/src/components/partials/not-found.tsx
  packages/app-tests/e2e/document-auth/access-auth.spec.ts
  packages/app-tests/e2e/document-auth/action-auth.spec.ts
  packages/app-tests/e2e/document-flow/settings-step.spec.ts
  packages/app-tests/e2e/document-flow/signers-step.spec.ts
  packages/app-tests/e2e/document-flow/stepper-component.spec.ts
  packages/app-tests/e2e/templates-flow/template-settings-step.spec.ts
  packages/app-tests/e2e/templates-flow/template-signers-step.spec.ts
  packages/app-tests/e2e/templates/create-document-from-template.spec.ts
  packages/app-tests/e2e/user/auth-flow.spec.ts
  packages/email/template-components/template-document-invite.tsx
  packages/lib/server-only/document/send-completed-email.ts
  packages/ui/components/document/document-share-button.tsx
  packages/ui/primitives/document-flow/add-fields.tsx
  packages/ui/primitives/document-flow/add-settings.tsx
  packages/ui/primitives/document-flow/add-signature.tsx
  packages/ui/primitives/document-flow/add-signers.tsx
  packages/ui/primitives/document-flow/document-flow-root.tsx
  packages/ui/primitives/template-flow/add-template-fields.tsx
  packages/ui/primitives/template-flow/add-template-settings.tsx
Labels: apps: marketing, apps: web, 🚨 e2e changes 🚨
